@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

::selection {
  background: theme("colors.yellow.500");
  color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: theme("colors.gray.100");
}

::-webkit-scrollbar-thumb {
  background: theme("colors.yellow.500");
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.yellow.600");
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
